clarabel==0.9.0
cvxpy==1.5.3
ecos==2.0.14
joblib==1.4.2
numpy==2.1.2
osqp==0.6.7.post3
packaging==24.1
pandas==2.2.3
plotly==5.24.1
python-dateutil==2.9.0.post0
pytz==2024.2
qdldl==0.1.7.post4
scikit-learn==1.5.2
scipy==1.14.1
scs==3.2.7
six==1.16.0
skfolio==0.4.2
tenacity==9.0.0
threadpoolctl==3.5.0
tzdata==2024.2
